
	<!DOCTYPE html>
	<html>
	<head>

    
	
	   <style>

body, html {
    height: 100%;
    background-repeat: no-repeat;
	
    background-image: url("bg.png") ;
	background-size: 100%;
    z-index: -1;
}
        

 
		</style>
	
	</head>
        <body>


	</body>
	</html>