<!DOCTYPE html>
<head>
<title>yay</title>
</head>
	
	   <style>

body, html {
    height: 100%;
    background-repeat: no-repeat;
	
    background-image: url("bg.png") ;
	background-size: 100%;
    z-index: -1;
}
        

 
		</style>
<body>
{{>header}}
    

    <p>{{ scream project }}</p>
    
    {{>bg}}
{{>footer}}
</body>
